* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(../img/background-header.png);
    height: 800px;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1110px;
    margin: 0px auto;
}

.header-line {
    padding-top: 88px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end;
    position: relative;
    
}

.header-logo {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-list {
    list-style-type: none;
    display: flex;
    
}

.menu-link {
    text-decoration: none;
    color: white;
    margin-right: 23px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: inherit;
}

.menu-link:last-child {
    margin-right: 36px;
}

.cart-link {
    height: 51px;
    border-right: 1px solid white;
    padding-right: 21px;
    display: flex;
    align-items: center;
    margin-right: 36px;
}

.cart-img {
    height: 13px;
}

.phone {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 167px;
    margin-right: 45px;
}

.phone-img {
    height: 23px;
    margin-right: 8px;
}

.number {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
}

.phone span {
    font-size: 14px;
    color: white;
    font-weight: 400;
    font-family: inherit;
}

.order {
    width: 157px;
    height: 47px;
    background-color: #FF7400;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 18px;
    
}

.header-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 204px;
}

.header-title-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    align-items: center;
}

.up-title {
    font-family: 'Tinos', sans-serif;
    font-size: 50px;
    color: #FF7400;
    font-weight: 400;
}

.header-title-block h1 {
    font-family: 'Tinos', sans-serif;
    font-size: 80px;
    color: #FF7400;
    font-weight: 400;
    line-height: 92px;
    margin-bottom: 12px;
}

.down-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.show-menu {
    background-color: #FF7400;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 137px;
    height: 47px;
    padding: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    
}

.main-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    align-self: center;
    position: relative;
    top: -75px;
}

.card {
    width: 349px;
    height: 328px;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 31px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);}

.card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto auto;
}

.card-img {
    margin-bottom: 4px;
}

.card h3 {
    margin-bottom: 20px;
    font-family: 'Tinos', sans-serif;
    font-size: 26px;
    color: #BC9060;
    font-weight: 400;
}

.color-text {
    color: #2C2C2C;
}

.card p {
    color: #656363;
    font-family: 'Tinos', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}

.card:last-child {
    margin-right: 0px;
}

.history {
    margin-top: 40px;
    display: flex;
    
}

.history-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-img {
    width: 50%;
    position: relative;
}

.history-desc h2 {
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #D67E34;
    margin-bottom: 21px;
}

.history-desc h2 span {
    color: #000000;
}

.history-desc p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
    margin-bottom: 39px;
    width: 80%;
}

.avards {
    display: flex;
    flex-direction: row;
}

.avard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.avard:last-child {
    margin-right: 0px;
}

.header-avard {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
}

.footer-avard {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.history1-img {
    width: 233px;
    height: 300px;
    position: absolute;
    top: 16px;
    left: 67px;
    z-index: 2;
}
.history2-img {
    width: 255px;
    height: 430px;
    position: absolute;
    top: -45px;
    left: 251px;
    z-index: 1;
}
.history3-img {
    width: 254px;
    height: 300px;
    position: absolute;
    top: 164px;
    left: 337px;
    z-index: 2;
}
.history4-img {
    width: 212px;
    height: 164px;
    position: absolute;
    top: 0px;
    left: 337px;
    z-index: 0;
}

.main-order {
    position: relative;
    background-image: url(../img/bg-main-order.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 357px;    
}

.content {
    max-width: 1110px;
    margin: 0px auto;
    margin-top: 182px;
    display: flex;
    position: relative;
    z-index: 2;
}

.order-desc {
    width: 60%;
}

.order-btn {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-top: 151px;
}

.order-desc h2 {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
    margin-top: 80px;
    margin-bottom: 20px;
}

.order-desc span {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
}

.main-order::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.85;
}

.dishes-block {
    display: flex;
}

.dishes-title h2 {
    margin-top: 114px;
    margin-bottom: 139px;
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #D67E34;
}

.dishes-title span {
    color: #000000;
}

.dishes-img {
    width: 60%;
    display: flex;
}

.dishes-column {
    display: flex;
    flex-direction: column;
}

.dishes-column-item {
    margin-left: 30px;
    margin-bottom: 29px;
    width: 160px;
    height: 140px;  
}

.dishes-column-item:last-child {
    margin-bottom: 0px;
}

.dishes-img1 {
    width: 445px;
    height: 478px;
}



.dishes-price {
    width: 40%;
}

.dishes-price-item {
    display: flex;
    justify-content: space-between;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    padding: 40px 0px 70px;
    margin-bottom: 30px;
}


.price-item-name {
    position: relative;
}

.price-item-name::after {
    content: "----------------------";
    width: 210px;
    position: absolute;
    top: 0;
    left: 185px;
}
    
.menu-board {
    background-color: #C4C4C4;
    background-image: url(../img/menu-board.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1034px;
    margin-top: 120px;
}

.board-title {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    padding-top: 100px;
    padding-bottom: 138px;
    text-align: center;
}

.board-cart {
    display: flex;
}

.board-cart-item {
    width: 350px;
    height: 510px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 30px;
}

.board-cart-item:last-child {
    margin-right: 0px;
}

.cart-burger {
    width: 225px;
    height: 225px;
    margin-top: 80px;
    
}

.bg-price {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 61px;
    top: 214px;
    z-index: 2;
}

.board-cart-item span {
    margin: 20px 0 17px;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.board-cart-item p {
    margin: 0 0 17px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.board-cart-item button {
    color: white;
    border: none;
    width: 220px;
    height: 50px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

.board-cart-item::after {
    content: "420";
    position: absolute;
    right: 91px;
    top: 249px;
    z-index: 3;
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: white;
}

.comments {
    height: 550px;
    background-color: #E6E5E5;
}

.content-comm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 104px 0px 139px;
}

.comment {
    width: 85%;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 16px;
}

.face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 16px;

}

.user {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 16px;
}

.username {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.gallery-dishes {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    height: 800px;
    padding-top: 100px;
}

.gallery-dishes h2 {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #D67E34;
    text-align: center;
    margin-bottom: 60px;
}

.gallery-dishes span {
    color: #000000;
}

.first-lane {
    display: flex;
    box-sizing: border-box;
}

.second-lane {
    display: flex;
    box-sizing: border-box;
}

.gallery-dishes1 {
    width: 50%;
    width: 540px;
    height: 274px;
}

.gallery-dishes2 {
    width: 25%;
    width: 255px;
    height: 274px;
}
.gallery-dishes3 {
    width: 25%;
    width: 255px;
    height: 274px;
}

.gallery-item:nth-child(1n+1) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.gallery-item:last-child {
    margin-right: 0px;
}

.gallery-item2:nth-child(1n+1) {
    margin-right: 30px;
}

.gallery-item2:last-child {
    margin-right: 0px;
}

